* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.nav, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 8px;
}

a{
  text-decoration: none;
  color: #e5e7eb;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
    margin-left: 50px;
}
.links {
    font-size: 16px;
    display: flex;
    gap: 16px;
    margin-right: 50px;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
    background-color: #1f2937;
    gap: 20px;
}

.left-part {
    height: 250px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    font-size: 18px;
    color: #e5e7eb;
}
.right-part {
    height: 250px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color: #f9faf8;
}

.hero-head {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 600;
}

button {
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    border: none;
    background-color: #3882f6;
    color: #fafafa;
    font-weight: 600;
}

.information {
    padding: 30px;
    text-align: center;
    padding-bottom: 90px;
}

.info-head {
    font-size: 23px;
    margin-bottom: 30px;
    font-weight: 900;
    color: #1f2937;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.info {
    max-width: 140px;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illustrations {
    width: 120px;
    height: 120px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.paragraph {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 23px;
    font-weight: 100;
    padding: 100px;
}
.paragraph div {
    max-width: 500px;
    color: #1f2937;
}

.paragraph div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.author {
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.action-content {
    width: 1000px;
    height: 130px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
}

.sign-up-head, .action-content button {
    font-weight: bold;
    font-size: 22px;
}

.action-content button {
    border: 3px solid #e5e7eb;
}

.footer {
    padding: 16px;
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
}